<div id="loginHolder" class="container-fluid d-flex flex-column justify-content-center">
	<div class="row text-center mt-5">
		<div class="col">
			<% unless @current_user.present? %>
				<h3 class="text-white">You're not logged in!</h3>
				<% else %>
				<h4 class="text-white">Weclome, <%= @current_user.display_name.present? ? @current_user.display_name : @current_user.email %>.</h4>
			<% end %>
		</div>
	</div>
</div>