<div class="container">
	<div class="row">
		<div class="col text-center">
			<h1 class="text-danger">Login page.</h1>
			<p class="text-danger">If you see this page, something has gone wrong.</p>
		</div>
	</div>
</div>