body,
html {
	border: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100vh;
}

div#toastHolder {
	height: calc(100% - 56px);
}

div.prev {
	position: absolute;
	top: 56px;
	left: 0;
	height: calc(100vh - 56px);
	width: 25vw;
	background-color: rgba(0,0,0,0.1);
	z-index: 1000;
}

div.next {
	position: absolute;
	top: 56px;
	right: 0;
	height: calc(100vh - 56px);
	width: 25vw;
	background-color: rgba(0,0,0,0.1);
	z-index: 1000;
}

div.spotifyUpdateBox {
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding: 40px;
	transform: translateY(25px);
	transition: all 1.0s ease-in-out;
	opacity: 0;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
}

div.spotifyUpdateBox.visible {
	transform: translateY(0);
	opacity: 1.0;
}

div.spotifyUpdateBox #text {
	display: block;
	font-size: 25pt;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	color: #fff;
}

div.spotifyUpdateBox #text2 {
	display: block;
	font-size: 15pt;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	color: #ccc;
}

div.trackposition {
	position: absolute;
	left: 25px;
	bottom: 25px;
	right: 25px;
	height: 25px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 25px;
}

div.trackposition div.fill {
	// transition: width 0.1s ease-in-out;
	background-color: #1ed660;
	position: absolute;
	left: 0;
	height: 25px;
	border-radius: 25px;
}