body,
html {
	border: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100vh;
}

div#popupHolder, div#loginHolder {
	height: calc(100% - 112px);
}

div.prev {
	position: absolute;
	top: 56px;
	left: 0;
	height: calc(90vh - 56px);
	width: 25vw;
	// background-color: rgba(0,0,0,0.1);
	z-index: 1000;
}

div.next {
	position: absolute;
	top: 56px;
	right: 0;
	height: calc(100vh - 56px);
	width: 25vw;
	// background-color: rgba(0,0,0,0.1);
	z-index: 1000;
}

div.spotifyUpdate {
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding: 40px;
	transform: translateY(25px);
	transition: all 1.0s ease-in-out;
	opacity: 0;
	// width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
}

div.spotifyUpdate.visible {
	transform: translateY(0);
	opacity: 1.0;
}

div.spotifyUpdate #title {
	font-size: 25pt;
}

div.spotifyUpdate #artist {
	font-size: 15pt;
}

div.trackposition {
	position: absolute;
	left: 25px;
	bottom: 25px;
	right: 25px;
	height: 25px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 25px;
	z-index: 2000;
}

div.trackposition div.fill {
	// transition: width 0.1s ease-in-out;
	background-color: #1ed660;
	position: absolute;
	left: 0;
	height: 25px;
	border-radius: 25px;
	z-index: 2100;
}